* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.color__green {
    color: #6ABB00;
}

body {
    background: #e5e5e573;
}

.container__signIn {
    max-width: 1170px;
    width: 100%;
    margin: 136px auto;
}

.left__col {
    width: 417px;
}

.signIn__title {
    font-size: 30px;
    line-height: 37px;
    font-family: 'MB';
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 13px;
    text-align: center;
}

.signIn__par {
    font-size: 13px;
    line-height: 16px;
    font-family: 'MM';
    letter-spacing: -0.03em;
    color: #B0B0B0;
    margin-bottom: 32px;
    text-align: center;
}

.email__form,
.passwor__form {
    width: 417px !important;
    margin-bottom: 25px;
}

.form-check-label {
    font-size: 11px;
    line-height: 13px;
    font-family: 'MB';
    color: #000000;
}

.form-check-input:focus {
    border-color: #E8E8E8;
    outline: none;
    box-shadow: none;
}

.form-check-input[type=checkbox] {
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 2px;
}

.forgotLink {
    font-size: 12px;
    line-height: 15px;
    font-family: 'MB';
    text-decoration-line: underline;
    color: #6ABB00;
}

.forgotLink:hover {
    color: #6ABB00;
}

.signIn__par a:hover {
    color: #6ABB00;
}

.check__forms {
    margin-top: 5px;
    margin-bottom: 30px;
}

.signIn__btn {
    background: #6ABB00 !important;
    border-radius: 6px;
    padding: 20px 0;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF !important;
    font-family: 'MB';
    margin-bottom: 37px;
}

.signIn__btn:hover,
.signIn__btn:active:focus {
    background: #6ABB00 !important;
    color: #FFFFFF !important;
    outline: none;
    border-color: #6ABB00;
    box-shadow: none;
}

.apple__btn,
.google__btn,
.linkedin__btn,
.microsoft__btn {
    background: #FFFFFF;
    border-radius: 8px;
    font-size: 13px;
    line-height: 16px;
    font-family: 'SFP';
    color: #141414;
    padding: 18px 0;
    margin-bottom: 13px;
}

.fa-apple {
    font-size: 20px;
    margin-right: 98px;
    margin-left: -110px;
}

.apple__btn:active,
.google__btn:active,
.linkedin__btn:active,
.microsoft__btn:active,
.apple__btn:hover,
.google__btn:hover,
.linkedin__btn:hover,
.microsoft__btn:hover,
.apple__btn:active:focus,
.google__btn:active:focus,
.linkedin__btn:active:focus,
.microsoft__btn:active:focus {
    background: #1D1D1F;
    color: #FFFFFF;
    box-shadow: none;
}

.google {
    margin-right: 94px;
    margin-left: -102px;
}

.linkedin {
    margin-right: 90px;
    margin-left: -95px;
}

.microsoft {
    margin-right: 87px;
    margin-left: -90px;
}

.col-right {
    margin-top: 55px;
}

.recoverySignIn__btn,
.recoverySignUp__btn {
    font-size: 11px;
    line-height: 13px;
    font-family: 'MB';
    color: #6ABB00;
    border: 1px solid #6ABB00;
    box-sizing: border-box;
    border-radius: 6px;
    width: 219px;
    background: #FFFFFF;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.recoverySignIn__btn:hover,
.recoverySignUp__btn:hover {
    color: #6ABB00;
}

.recovery__form {
    width: 449px !important;
    background: #FFFFFF !important;
}

.recovery__form:focus {
    background: #FFFFFF !important;
}

.firstNumber input,
.secondNumber input,
.thirdNumber input,
.forthNumber input {
    width: 88px !important;
    height: 72px !important;
    background: #FFFFFF !important;
    border-radius: 3px;
}

.firstNumber input,
.secondNumber input,
.thirdNumber input {
    margin-right: 32px;
}

.firstNumber input:focus,
.secondNumber input:focus,
.thirdNumber input:focus,
.forthNumber input:focus {
    background: #FFFFFF !important;
}

.fa-check-circle {
    color: #6ABB00;
    font-size: 84px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    margin-left: 35px;
}

.success__btn {
    margin-top: 31px;
}